<section class="wn__product__area brown--color pt--80  pb--30">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section__title text-center">
          <h2 class="title__be--2">Random <span class="color--theme">Products</span></h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid
            alteration in some ledmid form</p>
        </div>
      </div>
    </div>
    <!-- Start Single Tab Content -->
    <div class="slider center">
      <% @products.each do |product| %>
      <%= render "shared/product_card", product: product %>
      <% end %>
    </div>
    <!-- End Single Tab Content -->
  </div>
</section>


<section class="wn__bestseller__area bg--white pt--80  pb--30">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section__title text-center">
          <h2 class="title__be--2">Random <span class="color--theme">Products</span></h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid
            alteration in some ledmid form</p>
        </div>
      </div>
    </div>
    <div class="tab__container">
      <div class="slider center">
        <% @products.each do |product| %>
        <%= render "shared/product_card", product: product %>
        <% end %>
      </div>
      <!-- End Single Tab Content -->
    </div>
  </div>
</section>

<section class="best-seel-area pt--80 pb--60">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section__title text-center pb--50">
          <h2 class="title__be--2">Random <span class="color--theme">Seller </span></h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid
            alteration in some ledmid form</p>
        </div>
      </div>
    </div>
  </div>
  <div class="slider center">
    <% @products.each do |product| %>
    <%= render "shared/product_card", product: product %>
    <% end %>
  </div>
</section>