<% content_for :title, "Search" %>

<% unless @products.nil? %>
<div class="wrapper" id="wrapper">
  <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
          <%= render "shared/side_bar" %>
        </div>
        <div class="col-lg-9 col-12 order-1 order-lg-2">
          <div class="tab__container">
            <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
              <div class="row">
                <% if @count > 0 %>
                <% @products.each do |product| %>
                <%= render 'shared/product_card', product: product%>
                <% end %>
                <% else %>
                <h1>No Products Found</h1>
                <% end %>
              </div>
            </div>
          </div>
          <div class="apple_pagination">
            <%= paginate @products unless @products.nil? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>