<% content_for :title, "Store Details" %>

<div class="col-lg-6 col-12">
    <div class="product__info__main">
    <br>
        <h1>Name: <%= @store.name %></h1>
        <h1>Summary: <%= @store.summary %></h1> 
    </div>
</div>
<br>
<div class="row">
 <% @products.each do |product| %>
  <%= render 'shared/product_card', product: product%>
 <% end %>
 </div>
