<% content_for :title, "Store Details" %>

<div class="blog-details content">
    <article class="blog-post-details">
        <div class="post_wrapper">
            <div class="post_header">
                <h2><%= @store.name %></h2>
                <ul class="post_author">
                    <li>Created at : <%= @store.created_at %> </li>
                </ul>
            </div>
            <div class="post_content">
                <p><%= @store.summary %></p>

            </div>
        </div>
    </article>
    <div class="row">
        <% @products.each do |product| %>
        <%= render 'shared/product_card', product: product%>
        <% end %>
    </div>
</div>
</div>