<div class="wn__order__box">
    <h3 class="onder__title">Your order</h3>
    <ul class="order__total">
        <li>Product</li>
        <li>Total</li>
    </ul>
    <ul class="order_product">
        <% @order_products.each do |order| %>
        <li><%=order.product.title%> <b>x <%=order.quantity%></b><span><%=order.product.price * order.quantity%></span></li>
        <%end%>

    </ul>
    <ul class="shipping__method">
        <li>Cart Subtotal <span><%=@total%></span></li>
        <li>Discount <span></span></li>
    </ul>
    <ul class="total__amount">
        <li>Order Total <span></span></li>
    </ul>
</div>
<br>