<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
  <div class="searchbar__content setting__block">
    <div class="content-inner">
      <div class="switcher-currency">
        <div class="switcher-options">
          <div class="switcher-currency-trigger">
            <div class="setting__menu">
              <%if current_user %>
              <span><a href="#">My Account</a></span>
              <span><a href="#">My Wishlist</a></span>
                <%end %>
              <%if !current_user %>
              <span><%= link_to('Sign In', new_user_session_path)  %></span>
              <span><%= link_to('Register', new_user_registration_path)%></span>
                <%end %>
              <% if current_user %>
              <span><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></span>
                <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>