<div class="brown--color box-search-content search_active block-bg close__top">
  <%= bootstrap_form_with(url: search_products_path ,class: 'minisearch' , id: "search_mini_form" , method: :get , local: true)  do |f| %>
    <div class="field__search form-group">
      <%= f.text_field :search , label_as_placeholder: true  ,label: "Search Entire Store Here... ", wrapper: false%>
      <div class="action">
        <%= f.submit "Search" %>
      </div>
    </div>
  <% end %>
  <div class="close__wrap">
    <%= fa_icon('times') %>
    <span>close</span>
  </div>
</div>


